.cover__subtitle {
  margin: 0 auto;
  position: relative;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  line-height: 22px;
  max-width: 360px;
  color: #ffffff;
}
@media (max-width: 560px) {
  .cover__subtitle {
    max-width: 330px;
    font-size: 14px;
    line-height: 16px;
    padding: 0 12px;
  }
}
@media (max-width: 320px) {
  .cover__subtitle {
    max-width: 288px;
 
}
}