.overlay {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 48px;
  margin-bottom: 92px;
}
@media (max-width: 1279px) {
  .overlay {
    padding: 0;
  }
}
@media (max-width: 1023px) {
  .overlay {
    margin-bottom: 88px;
  }
}
@media (max-width: 767px) {
  .overlay {
    margin-bottom: 64px;
  }
}
