.cover {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  background: url(../../images/__background.png);
  background-size: cover;
  max-width: 1184px;
  width: 100%;
  background-position: center;
  align-items: center;
  background-repeat: no-repeat;
  min-height: 740px;
  cursor: pointer;
}
.cover::before {
  content: "";
  max-width: 1184px;
  width: 100%;
  min-height: 740px;
  position: absolute;
  overflow: hidden;
  background-color: rgba(42, 44, 47, 0.3);
}
.cover:hover::before {
  content: "";
  background-color: rgba(42, 44, 47, 0.8);
}
@media (max-width: 1024px) {
  .cover {
    max-width: 1024px;
    min-height: 640px;
  }
  .cover::before {
    content: "";
    max-width: 1024px;
  }
}
@media (max-width: 768px) {
  .cover {
    margin-bottom: 88px;
    min-height: 480px;
    max-width: 768px;
  }
  .cover::before {
    content: "";
    min-height: 480px;
    max-width: 768px;
  }
}
@media (max-width: 320px) {
  .cover {
    min-height: 200px;
    max-width: 320px;
    margin-bottom: 64px;
  }
  .cover::before {
    content: "";
    min-height: 200px;
    max-width: 320px;
  }
}
