.cover__title {
  margin-bottom: 32px;
  margin-top: 0;
  position: relative;
  font-weight: 900;
  max-width: 560px;
  font-size: 72px;
  text-align: center;
  z-index: 1;
  line-height: 76px;
  color: #ffffff;
}
@media (max-width: 560px) {
  .cover__title {
    max-width: 330px;
    margin-bottom: 16px;
    font-size: 32px;
    line-height: 35px;
  }
}
@media (max-width: 320px) {
  .cover__title {
    max-width: 230px;
  }
}
